body {
	background-color: red
}
h1 {
	font-family: 'Amatic SC', cursive;
	border-style: solid;
	border-width: 5px;
	background-color: blue;
	font-size: 30px;
	text-align: center;

}
img { 
	width: 100%
	height: auto;
 }

p {
	font-family: 'Amatic SC', cursive;
	font-size: 30px
}
h2 {
	font-family: 'Amatic SC', cursive;
	font-size:30px;
	border-style: solid;
	border-width: 5px;
	background-color: blue;
}
h3 {
	font-family: 'Amatic SC', cursive;
	font-size:30px;
	border-style: solid;
	border-width: 5px;
	background-color: blue;
}
h4 {
	font-family: 'Amatic SC', cursive;
	font-size:30px;
	border-style: solid;
	border-width: 5px;
	background-color: blue;
}
button {
	background-color:blue;
	color: white;
	display:incline-block;
	text-decoration: none;
	padding:10px 25px;
	border-radius: 25px;
	border: 3px white;
	box-shadow:10px 10px 5px #000;
}
button.hover {
	border:3px solid;
	background-color: white;
	border-radius: 0;
}
 .jalon.jpg{
	border: 10px solid white;
	border-width: 5px;
}

